<app-header></app-header>
<div class="container">
   <div class="intro-section">
      <h1>Đây là trang chi tiết sản phẩm</h1>
   </div>
   <div class="row">
      <div class="col-md-6">
         <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="square-image">
                     <img src="https://images.pexels.com/photos/16127159/pexels-photo-16127159/free-photo-of-paris-m-a.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load"
                     class="product-image"
                     alt="Product Image">
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="square-image">
                     <img src="https://images.pexels.com/photos/16286453/pexels-photo-16286453/free-photo-of-den-va-tr-ng-cay-cong-vien-cay-la-kim.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load"
                     class="product-image"
                     alt="Product Image">
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="square-image">
                     <img src="https://images.pexels.com/photos/18355497/pexels-photo-18355497/free-photo-of-den-va-tr-ng-th-i-trang-dan-ba-d-ng.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load"
                     class="product-image"
                     alt="Product Image">
                  </div>
               </div>
               <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
               </button>
               <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
               </button>
            </div>
         </div>
         <div class="row">
            <div class="thumbnail-container">
               <div class="thumbnail-item active">
                  <img src="https://images.pexels.com/photos/16127159/pexels-photo-16127159/free-photo-of-paris-m-a.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load"
                  class="thumbnail-image"
                  alt="thumbnail image">
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-6">
         <div class="product-details">
            <h2>Thông tin chi tiết sản phẩm</h2>
            <p>Mô tả sản phẩm</p>
            <p>Giá: 899$</p>
            <div class="product-actions">
               <button class="btn btn-primary">Thêm vào giỏ hàng</button>
               <button class="btn btn-success">Mua Ngay</button>
            </div>
            <div class="product-quantity">
               <div class="border-wrapper">
                  <button>-</button>
                  <input type="text" value="1">
                  <button>+</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<app-footer></app-footer>